.bg-nav {
    background-color: #3E8E90;
    /* background: rgba(0,0,255,0.1); */
}

.text-nav {
    color: #A3C854;
    font-weight: bold;
    /* background-color:rgba(0,0,255,0.1); */
}

.nav-text-font {
    /* font-family: 'Roboto Condensed'; */
    /* font-style: normal; */
    font-weight: 700;
    font-size: 25px;
}

.nav-text-font-options {
    /* font-family: 'Roboto Condensed'; */
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-decoration: none;
}