.main-slide{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
}

.carousel .slider-wrapper{
    width: 70%;
    height: fit-content;
}

.carousel .thumb{
    height: 50px;
}

.carousel{
    text-align: center;
}

.car-bg{
    background-color: #2e2e2e;
}

.header-text{
    font-size: 40px;
    font-weight: 600;
    color: #1e3d13;
}