.main-slide {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
}

.carousel .slider-wrapper {
    width: 40%;
    height: 500px;
}

.carousel .thumb {
    height: 50px;
}

.carousel {
    text-align: center;
}

.header-text {
    font-size: 40px;
    font-weight: 600;
    color: #1e3d13;
}